# (C) Copyright 2015 Hewlett-Packard Development Company, L.P.

[Unit]
Description=Halon LLDP Daemon
After=ovsdb-server.service halon-init.service

[Service]
Type=forking
CPUSchedulingPolicy=rr
CPUSchedulingPriority=3
ExecStartPre=/bin/rm -f /var/run/openvswitch/lldpd.pid
ExecStart=/sbin/ip netns exec swns /usr/sbin/lldpd --detach --pidfile -vSYSLOG:INFO
PIDFile=/var/run/openvswitch/lldpd.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
