.platform
.devenv
.testenv
.sandbox_uuid
images/*
src/*
.*.swp
build
tools/bin/python
tools/bin/corkscrew
nfsroot*
*~

# Exclude layers providing additional functionality ...
/yocto/*/
# ... and keep the layers providing basic LibreSwitch functionality
!/yocto/libreswitch/
!/yocto/poky/
