.platform
.devenv
.sandbox_uuid
images/*
src/*
.*.swp
build
tools/bin/python
tools/bin/corkscrew
nfsroot*

# Exclude layers providing additional functionality ...
/yocto/*/
# ... and keep the layers providing basic OpenSwitch functionality
!/yocto/openswitch/
!/yocto/poky/
