[Unit]
Description=ONIE Installer mode
Documentation=man:systemd.special(7)
DefaultDependencies=no
Requires=onie-install.service systemd-reboot.service
After=onie-install.service
AllowIsolate=yes
JobTimeoutSec=30min
JobTimeoutAction=reboot-force

[Install]
Alias=onie-install.target
