##########################
# Debugging
##########################

ipdb


##########################
# Coding standard
##########################

flake8
pep8-naming


##########################
# PyTest
##########################

pytest==2.8.4
pytest-random
pytest-xdist
pytest-timeout
# pytest-benchmark


##########################
# Platform engines
##########################

# Docker
topology_docker==1.5.0

##########################
# Support nodes
##########################

# OpenSwitch support node
-e git+https://github.com/HPENetworking/topology_docker_openswitch.git@86ff05d21543e01a6779de6a74c1b3a93c7187cc#egg=topology_docker_openswitch


##########################
# Communication libraries
##########################

# vtysh Communication library
-e git+https://git.openswitch.net/openswitch/ops-topology-lib-vtysh@master#egg=topology_lib_vtysh

# ip command Communication library
-e git+https://github.com/HPENetworking/topology_lib_ip.git@master#egg=topology_lib_ip

# ping command Communication Library
-e git+https://github.com/HPENetworking/topology_lib_ping.git@master#egg=topology_lib_ping

# tcpdump command Communication Library
-e git+https://github.com/HPENetworking/topology_lib_tcpdump.git@master#egg=topology_lib_tcpdump

# sflowtool command Communication Library
-e git+https://github.com/HPENetworking/topology_lib_sflowtool.git@master#egg=topology_lib_sflowtool

# iperf command Communcation Library
-e git+https://github.com/HPENetworking/topology_lib_iperf.git@master#egg=topology_lib_iperf
