# (C) Copyright 2015 Hewlett-Packard Development Company, L.P.

[Unit]
Description=Halon Buffer monitoring Daemon
After=ovsdb-server.service halon-init.service

[Service]
Type=oneshot
CPUSchedulingPolicy=rr
CPUSchedulingPriority=10
ExecStartPre=/bin/rm -f /var/run/bufmond.pid
ExecStart=/usr/bin/bufmond
PIDFile=/var/run/bufmond.pid

[Install]
WantedBy=multi-user.target
