# Copyright (C) 2016 Hewlett Packard Enterprise Development LP

[Unit]
Description=LibreSwitch HW-Vtep Daemon
After=ovsdb-server.service ops-init.service

[Service]
Type=simple
ExecStartPre=/bin/rm -f /var/run/openvswitch/ops-hw-vtep.pid
ExecStart=/sbin/ip netns exec nonet /usr/bin/ops-hw-vtep --pidfile
Restart=on-abort

[Install]
WantedBy=multi-user.target
