[Unit]
Description=OpenSSH Per-Connection Daemon
Wants=sshdgenkeys.service
After=sshdgenkeys.service

[Service]
Environment=LD_PRELOAD=/usr/lib/security/libstub_getpwnam.so
ExecStart=-@SBINDIR@/sshd -i
ExecReload=@BASE_BINDIR@/kill -HUP $MAINPID
StandardInput=socket
StandardError=syslog
KillMode=process
