# (C) Copyright 2015 Hewlett-Packard Development Company, L.P.

[Unit]
Description=Halon Configuration Daemon
After=ovsdb-server.service

[Service]
Type=oneshot
CPUSchedulingPolicy=rr
CPUSchedulingPriority=7
ExecStartPre=/bin/rm -f /var/run/cfgd.pid
ExecStart=/usr/bin/cfgd
PIDFile=/var/run/cfgd.pid

[Install]
WantedBy=multi-user.target
