# Copyright (C) 2015 Hewlett Packard Enterprise Development LP

[Unit]
Description=OpenSwitch Configuration Daemon
After=ovsdb-server.service

[Service]
Type=oneshot
CPUSchedulingPolicy=rr
CPUSchedulingPriority=7
ExecStartPre=/bin/rm -f /var/run/ops_cfgd.pid
ExecStart=/usr/bin/ops_cfgd
PIDFile=/var/run/ops_cfgd.pid

[Install]
WantedBy=multi-user.target
