# Copyright (C) 2015 Hewlett Packard Enterprise Development LP

[Unit]
Description=OVSDB Server Daemon for the simulator OpenVswitch

[Service]
Type=forking
CPUSchedulingPolicy=rr
CPUSchedulingPriority=7
ExecStartPre=/bin/sh -c '/usr/bin/test -f /var/run/openvswitch-sim/ovsdb.db || /opt/openvswitch/bin/ovsdb-tool create /var/run/openvswitch-sim/ovsdb.db /opt/openvswitch/share/openvswitch/vswitch.ovsschema'
ExecStart=/opt/openvswitch/sbin/ovsdb-server --remote=punix:/var/run/openvswitch-sim/db.sock --detach --no-chdir --pidfile -vSYSLOG:INFO /var/run/openvswitch-sim/ovsdb.db
WorkingDirectory=/var/run/openvswitch-sim
PIDFile=/var/run/openvswitch-sim/ovsdb-server.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
