# OpenSwitch 'ops-ospfd' service script

[Unit]
Description=OpenSwitch OSPFD Daemon
After=ovsdb-server.service ops-init.service

[Service]
Type=simple
ExecStartPre=/bin/rm -f /var/run/openvswitch/ops-ospfd.pid
ExecStart=/sbin/ip netns exec swns /usr/sbin/ops-ospfd --pidfile
Restart=on-abort

[Install]
WantedBy=multi-user.target
