
[Unit]
Description=OpenSwitch BroadView Daemon
After=ovsdb-server.service ops-init.service

[Service]
Type=simple
ExecStartPre=/bin/rm -f /var/run/openvswitch/ops-broadview.pid
ExecStart= /usr/sbin/ops-broadview --pidfile -vSYSLOG:INFO
Restart=on-abort

[Install]
WantedBy=multi-user.target
