# Copyright (C) 2015-2016 Hewlett Packard Enterprise Development LP

[Unit]
Description=OpenSwitch Switch Daemon for BCM
After=ovsdb-server.service ops-init.service
OnFailure=switch-reboot@ops-switchd.service

[Service]
Type=forking
Environment="KNET_KCOM=bcm-knet"
ExecStart=/usr/bin/netserve -d 1943 /sbin/ip netns exec swns /usr/sbin/ops-switchd --no-chdir --pidfile -vSYSLOG:INFO
WorkingDirectory=/var/run/openvswitch
PIDFile=/var/run/netserve.pid

[Install]
WantedBy=multi-user.target
