# Copyright (C) 2015 Hewlett Packard Enterprise Development LP

[Unit]
Description=OpenSwitch Switch Daemon for Simulator
After=ovsdb-server.service ops-init.service openvswitch-sim.service

[Service]
Type=simple
ExecStart=/sbin/ip netns exec swns /usr/sbin/ops-switchd --no-chdir --pidfile -vSYSLOG:INFO
WorkingDirectory=/var/run/openvswitch
Restart=on-abort

[Install]
WantedBy=multi-user.target
