#Copyright (C) 2016 Hewlett Packard Enterprise Development LP

[Unit]
Description=Openswitch Password Server Daemon
After=ovsdb-server.service ops-init.service

[Service]
Type=simple
ExecStartPre=/bin/rm -f /var/run/openvswitch/ops-passwd-srv.pid
ExecStart=/usr/bin/ops-passwd-srv --pidfile -vSYSLOG:INFO
Restart=on-abort

[Install]
WantedBy=multi-user.target
