#Copyright (C) 2016 Hewlett Packard Enterprise Development LP

[Unit]
Description=Openswitch Password Server Daemon
After=ovsdb-server.service ops-init.service

[Service]
Type=forking
ExecStartPre=/bin/rm -f /var/run/openvswitch/ops-passwd-srv.pid
ExecStart=/usr/bin/ops-passwd-srv --detach --pidfile -vSYSLOG:INFO
PIDFile=/var/run/openvswitch/ops-passwd-srv.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
