# (C) Copyright 2015 Hewlett-Packard Development Company, L.P.

[Unit]
Description=Halon Power Supply Management Daemon
After=ovsdb-server.service halon-init.service

[Service]
Type=forking
CPUSchedulingPolicy=rr
CPUSchedulingPriority=3
ExecStartPre=/bin/rm -f /var/run/openvswitch/powerd.pid
ExecStart=/sbin/ip netns exec nonet /usr/bin/powerd --detach --pidfile -vSYSLOG:INFO
PIDFile=/var/run/openvswitch/powerd.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
