# (C) Copyright 2015 Hewlett-Packard Enterprise Development Company, L.P.

[Unit]
Description=OpenSwitch REST service Daemon
After=cfgd.service

[Service]
Type=simple
ExecStartPre=/bin/rm -f /var/run/restd.pid
ExecStart=/usr/bin/restd
PIDFile=/var/run/restd.pid
Restart=always

[Install]
WantedBy=multi-user.target
