# Copyright (C) 2015 Hewlett Packard Enterprise Development LP

[Unit]
Description=OVSDB Server Daemon

[Service]
Type=forking
CPUSchedulingPolicy=rr
CPUSchedulingPriority=7
ExecStartPre=/bin/sh -c '/usr/bin/test -f /var/run/openvswitch/ovsdb.db || /usr/bin/ovsdb-tool create /var/run/openvswitch/ovsdb.db /usr/share/openvswitch/vswitch.ovsschema'
ExecStartPre=/bin/sh -c '/usr/bin/test -f /var/local/openvswitch/config.db || /usr/bin/ovsdb-tool create /var/local/openvswitch/config.db /usr/share/openvswitch/configdb.ovsschema'
ExecStart=/usr/sbin/ovsdb-server --remote=punix:/var/run/openvswitch/db.sock --detach --no-chdir --pidfile -vSYSLOG:INFO /var/run/openvswitch/ovsdb.db /var/local/openvswitch/config.db
WorkingDirectory=/var/run/openvswitch
PIDFile=/var/run/openvswitch/ovsdb-server.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
